body {
    margin: 50px;
    background: #82b7bb;
}

.hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6 and IE7 use the wrong syntax */
    clip: rect(1px, 1px, 1px, 1px);
}